<p>HTTP REQUEST HEADER</p>

<ul>
    <li>scheme: {{ scheme }}</li>
    <li>path: {{ path }}</li>
    <li>method:{{ method }}</li>
    <li>encoding: {{ encoding }}</li>
    <li>cookies: {{ cookies }}</li>
    <li>CONTENT_LENGTH : {{ CONTENT_LENGTH }}</li>
    <li>CONTENT_TYPE: {{ CONTENT_TYPE }}</li>
    <li>HTTP_ACCEPT: {{ HTTP_ACCEPT }}</li>
    <li>HTTP_ACCEPT_ENCODING: {{ HTTP_ACCEPT_ENCODING }}</li>
    <li>HTTP_ACCEPT_LANGUAGE: {{ HTTP_ACCEPT_LANGUAGE }}</li>
    <li>HTTP_HOST: {{ HTTP_HOST }}</li>
    <li>HTTP_REFERER: {{ HTTP_REFFER }}</li>
    <li>HTTP_USER_AGENT: {{ HTTP_USER_AGENT }}</li>
    <li>QUERY_STRING: {{ QUERY_STRING }}</li>
    <li>REMOTE_ADDR: {{ REMOTE_ADDR }}</li>
    <li>REMOTE_USER: {{ REMOTE_USER }</li>
    <li>REQUEST_METHOD: {{ REQUEST_METHOD }}</li>
    <li>SERVER_NAME: {{ SERVER_NAME }}</li>
    <li>SERVER_PORT: {{ SERVER_PORT }}</li>
</ul>
